@CHARSET "utf-8";

@media screen and (width: 100%) {
  #content {
	width:70%;
  }
  #welcome_msg {
  	font-size: smaller;
  }
  #heading {
	width:70%;
	font-size: smaller;
  }
  #globalFlashing {
	width:70%;
	font-size: smaller;
  }
  #leftMenu_menu{
    width:70%;
  }
   
.box img {
  height: auto;
  width: auto\9; /* ie8 */
}
