<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>스트룹 검사 매뉴얼</title>
</head>
<body>
<h3>스트룹 검사 매뉴얼</h3>
<p>시작하기 위해 Start 버튼을 눌러주세요.</p>

검사가 시작되면 빨강, 초록, 파랑, 노랑이라는 색깔의 이름들이 화면 하단에 깜박일 것입니다.
<font color="red">파랑</font> 의 예와 같이 화면에 적혀 있는 이들 이름은 그들의 실제 색과는 관련이 없습니다.

<p>화면에서 색깔있는 글자가 나타났다 사라지기 전까지 Response 버튼 항목 내에 있는, 각 이름의 실제 색깔에 해당하는 버튼을 눌러주시면 Number Correct 의 점수가 올라갑니다.
<br>예를 들면, 만약 화면에 <font color="red">파랑</font> 이 깜박인다면, "파랑"이라고 적힌 "이름"을 무시하시고 실제 색깔에 해당하는 "빨강 버튼"을 눌러주시면 됩니다.</p>

<p><STRONG>50초</STRONG>가 지나면 본 검사는 팝업창이 뜨며 자동 종료됩니다. 50초와 관계없이 검사를 끝내시고 싶으면 Stop 버튼을 눌러주세요.
Stop 버튼 누른 후에 다시 검사를 시작하고 싶으시면, Start 버튼을 한 번 더 눌러주세요.</p>

글자가 나오는 빠르기는 Speed 항목에서 4개 옵션으로 선택 가능하고, 게임의 결과점수는 Number Correct 항목에서 나오는 숫자로 확인할 수 있습니다.
<br>감사합니다!
</body>
</html>